.welcome-div{
    color: #ffffff;
}

@media (max-width: 768px) {
  .welcome-div {
    display: none;
  }
}

.google-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 13rem;
    height: 3rem;
  }
  
.google-logo {
  width: 36px;
  height: 36px;
}