.header {
  background-color: #094C5F;
  top: 0;
  width: 100%;
  z-index: 1;
}

.header-wrapper {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0rem 2rem;
}

.header-wrapper-logged-in{
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0rem 2rem;
}

.HeaderText{
  margin: 0;
}

.HeaderButtonsWrapper {
  display: flex;
  flex-direction: row;
}

.HeaderButtonsWrapper button:not(:last-child) {
  margin-right: 1rem;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 3rem;
}

.logo .app-name {
  font-size: 24px;
  margin-left: 10px;
}

.menu-mobile, .menu-mobile-logged-in {
  display: none;
}

.HamburgerIcon {
  height: 2.5rem;
  width: 2.5rem;
  color: white;
  cursor: pointer;
}

.header-expanded {
  height: 100vh;
  overflow: hidden; 
  padding-top: 1.2rem;
}

@media (max-width: 768px) {
  .logo img {
    height: 2rem;
  }

  .header-wrapper, .header-wrapper-logged-in {
    display: grid;
    grid-template-columns: repeat(2, auto);
    align-content: center;
  }

  .header-wrapper-logged-in .HeaderButtonsWrapper {
    grid-column: span 2;
    justify-content: center;
  }

  .header-wrapper-logged-in .HeaderButtonsWrapper button {
    width: 100%;
  }

  .header-wrapper-logged-in .mobile-menu {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }

  .menu-desktop {
    display: none;
  }
  .menu-mobile {
    display: none;
  }
  .menu-mobile-logged-in {
    display: block;
  }
}

.header-expanded-wrapper{
  height: 40vh;
  align-content: space-between;
}
