.header {
  background-color: #094C5F;
  top: 0;
  width: 100%;
  z-index: 1;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0rem 2rem;
}

.HeaderText{
  margin: 0;
}

.HeaderButtonsWrapper {
  display: flex;
  flex-direction: row;
}

.HeaderButtonsWrapper button:not(:last-child) {
  margin-right: 1rem;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 3rem;
}

.logo .app-name {
  font-size: 24px;
  margin-left: 10px;
}

.menu-mobile {
  display: none;
}

@media (max-width: 768px) {
  .menu-desktop {
    display: none;
  }
  .menu-mobile {
    display: block;
  }
}
