@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@layer components {
  .card {
    background-color: theme('colors.white');
    border-radius: theme('borderRadius.lg');
    padding: theme('spacing.6');
    box-shadow: theme('boxShadow.xl');
  }
}

body {
  font-family: 'Poppins';
  margin: 0;
}

textarea {
  font-family: "Poppins";
  padding: 0.4rem;
}