@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

@layer components {
  .card {
    background-color: theme('colors.white');
    border-radius: theme('borderRadius.lg');
    padding: theme('spacing.6');
    box-shadow: theme('boxShadow.xl');
  }
}

:root {
  --primary-color: #0E7490;
  --primary-color-dark: #153c49;
}

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
}

textarea {
  font-family: 'Inter', sans-serif;
  padding: 0.4rem;
  font-size: 1rem;
}
