/* reset */
.InfoDialog button,
.InfoDialog fieldset,
.InfoDialog input {
  all: unset;
}

.InfoDialogOverlay {
  background-color: #00000099;
  position: fixed;
  inset: 0;
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.InfoDialogContent {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 0.4rem;
  box-shadow: #094C5F 0px 10px 38px -10px, #094C5F 0px 10px 20px -15px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  max-width: 60vw;
  max-height: 85vh;
  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
  padding: 2rem;
  z-index: 2;
  overflow-y: scroll;
}

.InfoDialogTitle{
  margin: 0;
  font-size: 2rem;
  font-weight: bold;
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

@media (max-width: 768px) {

  .InfoDialogContent {
    max-width: 85%;
    padding: 2rem;
  }

  .InfoDialogTitle {
    font-size: 1.5rem;
    padding-bottom: 1rem;
  }
}

.IconButton {
  font-family: inherit;
  border-radius: 0.4rem;
  height: 25px;
  width: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #000000;
  background-color: #FFFFFF;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  border: none;
}

.IconButton:hover {
  background-color: #FFFFFF;
  color: #000000;
}

.IconButton:focus {
  box-shadow: none;
}

