/* reset */
.MobileDialogContent button,
.MobileDialogContent fieldset,
.MobileDialogContent input {
  all: unset;
}

.MobileDialogContent {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 0.4rem;
  box-shadow: #094C5F 0px 10px 38px -10px, #094C5F 0px 10px 20px -15px;
  position: fixed;
  top: 20vh;
  left: 75vw;
  transform: translate(-50%, -50%);
  max-width: 65vw;
  max-height: 85vh;
  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
  padding: 2rem;
  z-index: 2;
}

.DropdownMenuArrow {
  fill: #ffffff;
}

.HamburgerIcon {
  height: 2.5rem;
  width: 2.5rem;
  color: white;
  cursor: pointer;
}

@media (min-width: 769px) {
  .mobile-trigger {
    display: none;
  }
}
