/* NewsletterDialog.css */

.NewsletterDialogContent {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 0.4rem;
    box-shadow: #094C5F 0px 10px 38px -10px, #094C5F 0px 10px 20px -15px;
    position: fixed;
    top: 20vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    max-width: 65vw;
    max-height: 85vh;
    padding: 2rem;
    z-index: 2;
    color:#000000;
  }
  
  .NewsletterTrigger {
    cursor: pointer;
    padding: 10px;
    background-color: #094C5F;
    color: white;
    border: none;
    border-radius: 0.4rem;
  }
  
  .NewsletterDialogContent input {
    all: unset;
    display: block;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #000000;
    border-radius: 0.4rem;
  }
  
  .NewsletterDialogContent button {
    all: unset;
    cursor: pointer;
    display: block;
    margin-top: 1rem;
    background-color: #094C5F;
    color: white;
    padding: 10px 20px;
    border-radius: 0.4rem;
    text-align: center;
  }
  
  .close-button {
    all: unset;
    cursor: pointer;
    display: block;
    margin-top: 1rem;
    background-color: #ffffff;
    color: #094C5F;
    border: 1px solid #094C5F;
    padding: 5px 10px;
    border-radius: 0.4rem;
    text-align: center;
  }
  