/* reset */
.PricingDialog button,
.PricingDialog fieldset,
.PricingDialog input {
  all: unset;
}

.PricingDialogOverlay {
  background-color: #00000099;
  position: fixed;
  inset: 0;
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.PricingDialogContent {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 0.4rem;
  box-shadow: #094C5F 0px 10px 38px -10px, #094C5F 0px 10px 20px -15px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  max-width: 65vw;
  max-height: 85vh;
  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
  padding: 2rem;
  z-index: 2;
}

.PricingTable {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 2rem;
}

.PricingPlan {
  flex: 1;
  min-width: 200px;
  padding: 2rem;
  border-radius: 0.4rem;
  box-shadow: 0 1px 3px #00000099;
  text-align: center;
}

.PlanTitle {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.PlanPrice {
  font-size: 2rem;
  color: #0E7490;
  margin-bottom: 2rem;
}

.PlanFeatures {
  list-style-type: none;
  padding: 0;
}

.FeatureItem {
  font-size: 1.2rem;
  padding: 1rem 0;
  border-top: 1px solid #eeeeee;
}

.PricingDialogTitle{
  font-size: 2rem;
  font-weight: bold;
  padding-bottom: 2rem;
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

@media (max-width: 768px) {

  .PricingDialogContent {
    width: 98%;
    max-width: 98%;
    padding: 1rem;
  }

  .PricingPlan {
    min-width: 100%;
  }

  .PlanTitle {
    font-size: 1.2rem;
  }

  .PlanPrice {
    font-size: 1.6rem;
  }

  .FeatureItem {
    font-size: 1em;
    padding: 7px;
    margin-bottom: 7px;
  }

  .PricingDialogTitle {
    font-size: 1.5rem;
    padding-bottom: 1rem;
  }
}
